name: Elixir CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      matrix:
        otp: ['25.x', '26.x', '27.x']
        elixir: ['1.14.5', '1.15.8', '1.16.3', '1.17.0']
        exclude:
          - otp: '27.x'
            elixir: '1.14.5'
          - otp: '27.x'
            elixir: '1.15.8'
          - otp: '27.x'
            elixir: '1.16.3'
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - run: mix deps.get
      - run: mix test